<div>
  <button class="btn btn-default" (click)="showInContainer()">Show In Container</button>
  <button class="btn btn-default" (click)="showInFullPage()">Show In Full Page</button>
</div>

<div style="position: static;">
  <block-ui-dynamic [visible]='visibleOnFullPage'>
    {{message}}
  </block-ui-dynamic>
</div>



<div class="box-medium" style="position: relative;">
  <h3>block-ui-default</h3>
  <block-ui-dynamic [visible]='visible'>{{message}}</block-ui-dynamic>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, obcaecati voluptas culpa ipsum, facere, eum voluptates
    maxime quae tempore omnis fugit! Autem eaque consequuntur quaerat illum quod deserunt dolorem animi.</p>
</div>
<br>

<div class="box-medium" style="position: relative;">
  <block-ui-dynamic [visible]='visible'>{{message}}</block-ui-dynamic>
  <h3>block-ui-dynamic</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, obcaecati voluptas culpa ipsum, facere, eum voluptates
    maxime quae tempore omnis fugit! Autem eaque consequuntur quaerat illum quod deserunt dolorem animi.</p>
</div>
<br>

<div class="box-medium" style="position: relative;">
  <h3>block-ui-spinner</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, obcaecati voluptas culpa ipsum, facere, eum voluptates
    maxime quae tempore omnis fugit! Autem eaque consequuntur quaerat illum quod deserunt dolorem animi.</p>
  <block-ui-dynamic [visible]='visible'>{{message}}</block-ui-dynamic>
</div>
<br>
